<mdb-card>
	<mdb-card-body class="d-flex flex-row">
		<div class="mr-auto">
			<mdb-card-title class="mb-3">
				<h4>
					{{ post.title }}
				</h4>
			</mdb-card-title>
			<mdb-card-text>
				<h6 *ngIf="showState">
					<mdb-icon
						class="text-primary"
						fas
						icon="info-circle"
					></mdb-icon>
					Status:
					<mdb-badge [color]="post.state | postStateColor">
						{{ post.state | postStateText }}
					</mdb-badge>
				</h6>
				<h6
					[mdbTooltip]="
						(post.createdAt | date: 'dd. MMM yyyy h:mm a') || ''
					"
					placement="right"
				>
					<mdb-icon
						class="text-primary"
						far
						icon="calendar-alt"
					></mdb-icon>
					Written: {{ post.createdAt | dateAgo }}
				</h6>
				<h6>
					<mdb-icon
						class="text-primary"
						far
						icon="user-circle"
					></mdb-icon>
					Author: <i>{{ post.author.username }}</i>
				</h6>
			</mdb-card-text>
		</div>

		<div class="d-flex flex-column justify-content-center">
			<button
				mdbBtn
				color="primary"
				[outline]="true"
				[routerLink]="['/post', post.id]"
				routerLinkActive="active"
			>
				<mdb-icon fas icon="book-open"></mdb-icon>
				View
			</button>
		</div>
	</mdb-card-body>
</mdb-card>
