<mdb-navbar
	SideClass="navbar navbar-expand-lg navbar-light ie-nav"
	[containerInside]="false"
>
	<mdb-navbar-brand>
		<span class="logo navbar-brand">
			<mdb-icon class="text-primary" fas icon="lock"></mdb-icon>
			Security Blog
		</span>
	</mdb-navbar-brand>
	<links>
		<ul class="navbar-nav mr-auto">
			<li *ngFor="let item of navItems" class="nav-item">
				<a
					*ngIf="!item.authenticated; else authenticatedLink"
					class="nav-link"
					[routerLink]="item.link"
					routerLinkActive="active"
				>
					{{ item.title }}
				</a>
				<ng-template #authenticatedLink>
					<a
						*auth="item?.roles || []"
						class="nav-link"
						[routerLink]="item.link"
						routerLinkActive="active"
					>
						{{ item.title }}
					</a>
				</ng-template>
			</li>
		</ul>

		<div *auth>
			<span>
				<mdb-icon
					class="text-primary"
					far
					icon="user-circle"
				></mdb-icon>
				<ng-container *ngIf="authenticatedUser$ | async as user">
					{{ user.username }}
				</ng-container>
			</span>
			<button
				mdbBtn
				size="md"
				[rounded]="true"
				mdbTooltip="Logout"
				(click)="logout()"
			>
				<mdb-icon
					class="text-primary"
					fas
					icon="sign-out-alt"
				></mdb-icon>
			</button>
		</div>
	</links>
</mdb-navbar>
